* {
    padding: 0%;
    margin: 0% ;
    box-sizing: border-box;
}
#loader {
    width: 100% ;
    height: 100%;
    background : #fff 
    url("../../../Images/Ellipsis-1s-200px.svg") no-repeat center ;
    position: fixed ;
    z-index: 99999;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url("../../../Images/S\ &\ L\ pics/81YlsUobrRL.jpg");
    background-position: center ;
    background-size:  100% 100% ;
    background-attachment: fixed ;
    background-repeat: no-repeat ;
    height: 100vh;
}
.login {
    width: 350px ;
    height: 600px;
    /* border: 1px solid #f2f2f2; */
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-position: center;
    background-size: 100% 100% ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 4px 3px #020202;
}


#clock {
    color: white ;
    font-size: 14px ;
    font-weight: bold ;
    text-align: center;
}


/* Body  */
.body-portion {
    margin-top: 80px ;
}
.body-portion h3 {
    font-family: 'Hepta Slab', serif;
    font-weight: 800 ;
    letter-spacing: 4px ;
}
.body-portion h3::after {
    content: "";
    width: 80px ;
    height: 3px ;
    margin-left: 113px ;
    display: block;
    background-color:#ffa500 ;
}
label {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}
input {
    background: transparent !important;
    color: white !important;
    font-family: 'Raleway', sans-serif !important ;
}
::placeholder {
    color: white !important;
    opacity: 0.8 !important;
    letter-spacing: 2px ;
    font-size: 12px !important;
}
.icon {
    color: #f2f2f2 ;
    position: absolute ;
    top: 61%;
    right: 5% ;
    font-size: 18px ;
    cursor: pointer ;
}
.media {
    width: 50px ;
    height: 50px;
    border-radius: 50% ;
    background:  #0089ff;
    margin-right: 15px ;
    cursor: pointer ;
    border: 1px solid #f2f2f2 ;
    opacity: 0.8
}
.media:hover {
    opacity: 1 ;
    border: 1px solid #fff;
}
.media a {
    margin: auto ;
    color: white ;
}

.error {
    color: red ;
    font-size: 15px ;
    background-color: #f2f2f2 ;
    margin-top: -15px ;
    text-align: center;
    border-radius: 10px ;
    font-family: 'Raleway', sans-serif !important ;
    font-weight: 700;
}

/* Forget Password  */
.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center ;
    align-items: center ;
    display: none;
}
.modal-content {
    width: 500px;
    height: 300px;
    position: relative;

}
.close {
    position: absolute ;
    top: 5px;
    right: 10px ;
    font-size: 35px;
    transform: rotate(45deg);
    cursor: pointer;
}
.address {
    color: black !important;
}
.address::placeholder {
    color: black !important;

}



@media screen and (max-width : 500px) {
    .login {
        top: 50%;
        left: 50%;
        transform: translate(-50% , -40%);
    }
}